version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    docker:
      - image: circleci/python:3.7.1-stretch-browsers
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: install allure CLI
          command: |
            uname -a
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python3 -m pytest -m
      - store_artifacts:
          path: test-reports
          destination: test-reports
          when: always